<%- include('../partials/header.ejs') -%>
<%- include('../partials/topnav.ejs') -%>
    <main class="container">
      <div class="row justify-content-md-center">
        <div class="clo">
          <div class="jumbotron">
            <h1 class="display-2" style="font-size:xx-large;text-align: center;"><%= title %></h1>
            <p class="lead"><i><%= S1%></i></p>
          </div>
        </div>
      </div>
     
  </main>
   

<%- include('../partials/endnav.ejs') -%>
<%- include('../partials/footer.ejs') -%>

