<%- include('../partials/header.ejs') -%>
<%- include('../partials/topnav.ejs') -%>
    <main class="container">
      <div class="row justify-content-md-center">
        <div class="clo">
          <div class="jumbotron">
            <h1 class="display-2" style="font-size:xx-large;text-align: left;">Welcome to Tim' Home</h1>
            
            <hr class="display-4">
            <h3>Personal-Mission-Statement</h3>
            <p class="lead"><i><%= S1%></i></p>

            <a class="" href="/about"> About me</a>
          </div>
        </div>
      </div>
     
  </main>
   

<%- include('../partials/endnav.ejs') -%>
<%- include('../partials/footer.ejs') -%>

