<%- include('../partials/header.ejs') -%>
<%- include('../partials/topnavc.ejs') -%>
<div class="container"> 

  

  <%- include('./content/login.ejs') -%> 



</div>

<%- include('../partials/endnav.ejs') -%>
<%- include('../partials/footer.ejs') -%>

